version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "16:00" # UTC
    open-pull-requests-limit: 15
    groups:
      multer:
        patterns:
          - "multer"
          - "@types/multer"
      ai-sdk:
        patterns:
          - "ai"
          - "@ai-sdk/*"
          - "@openrouter/ai-sdk-provider"
      eslint:
        patterns:
          - "eslint"
          - "@typescript-eslint/*"
      prisma:
        patterns:
          - "@prisma/*"
          - "prisma*"
      jest:
        patterns:
          - "jest*"
          - "@types/jest"
      trpc:
        patterns:
          - "@trpc*"
      workbox:
        patterns:
          - "*workbox*"
      aws:
        patterns:
          - "@aws-sdk/*"
      sentry:
        patterns:
          - "@sentry/*"
      ionic:
        patterns:
          - "@ionic/*"
      swc:
        patterns:
          - "@swc*"
      capacitor:
        patterns:
          - "@capacitor/*"
          - "@capawesome/*"
      fanout:
        patterns:
          - "@fanoutio/*"
      ngx-translate:
        patterns:
          - "@ngx-translate/*"
      vite:
        patterns:
          - "vite"
          - "vite*"
          - "vitest*"
          - "@vitest/*"
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "@angular-eslint/*"
          - "zone.js"
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
    ignore:
      - dependency-name: "@nx*" # Ignored because nx must be upgraded through CLI
      - dependency-name: "nx" # Ignored because nx must be upgraded through CLI
