@import "../../../theme/shared-variables.scss";

:host {
  display: block;
  position: relative;
}

ion-badge {
  position: absolute;
  top: 8px;
  inset-inline-end: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  max-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;

  &:nth-of-type(2) {
    top: 35px;
  }
}

.recipe-item {
  --padding: 8px;
  --image-size: 80px;

  position: relative;
  display: grid;
  grid-template-columns: var(--image-size) auto;
  height: calc(var(--image-size) + calc(var(--padding) * 2));
  overflow: hidden;
  padding-inline-start: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--ion-background-tint-color);
  }

  &.no-image {
    --image-size: 80px;
    grid-template-columns: 0 auto;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    --image-size: 200px;
  }

  &.compact {
    --image-size: 38px;
    --padding: 2px;

    .recipe-item-content .recipe-item-content-meta {
      display: flex;
      align-items: center;

      p {
        margin-inline-end: 10px;
      }

      rating {
        margin-inline-end: 10px;
      }

      .description {
        max-width: 30%;
      }
    }
  }

  &.list {
    .recipe-item-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  img {
    width: var(--image-size);
    height: var(--image-size);
    margin-bottom: var(--padding);
    margin-top: var(--padding);
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  }

  .recipe-item-content {
    margin-inline-start: 16px;
    padding-inline-end: 16px;
    border-bottom: 1px solid;
    border-color: var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );

    h2 {
      margin-left: 0;
      margin-right: 0;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 1rem;
      font-weight: normal;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.875rem;
      margin: 0;
      color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.8);
    }

    rating {
      display: flex;
      align-items: center;
      height: 1.25rem;
      overflow: hidden;
      font-size: 0.875rem;
    }
  }
}
